<form method="post" class="text-center d-flex justify-content-center">
    <div class="input-group w-50">
        <span class="input-group-text border-dark">A-Z</span>
        <input type="text" name="letter" id="letter" maxlength="1" required class="form-control border-dark" placeholder="Letra...">
        <input type="submit" class="btn btn-outline-success" value="Adivinar">
    </div>
</form>
<form method="post" class="text-center mt-3">
    <input type="hidden" name="restart_game">
    <input type="submit" class="col btn btn-outline-danger" value="Rendirse">
</form>